<section class="l-section feature"  id="sec1">
        <div class="l-container">
            <div class="l-section-head">
                <h2 class="content-title">- Feature -</h2>
            </div>
            <div class="l-section-content feature-content">
                <div class="feature-list-wrapper js-feature-box">
                    <div class="feature-list-item feature-item-html">
                        <img src="./assets/images/icon-html5.png" alt="icon-html" class="feature-img">
                        <h3 class="feature-sub-title">HTML5</h3>
                        <p class="feature-text">
                            sample text sample<br>
                            text sample text<br>
                            sample text sample
                        </p>
                    </div>
                    <div class="feature-list-item feature-item-css">
                        <img src="./assets/images/icon-css3.png" alt="icon-css" class="feature-img">
                        <h3 class="feature-sub-title">CSS3</h3>
                        <p class="feature-text">
                            sample text sample<br>
                            text sample text<br>
                            sample text sample
                        </p>
                    </div>
                    <div class="feature-list-item feature-item-js">
                        <img src="./assets/images/icon-js.png" alt="icon-js" class="feature-img">
                        <h3 class="feature-sub-title">JavaScript</h3>
                        <p class="feature-text">
                            sample text sample<br>
                            text sample text<br>
                            sample text sample
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>