<footer class="l-foter">
    <div class="l-container footer-wrap ">
        <div class="footer-left">
            <p class="footer-copyright">©︎2019 Sample</p>
        </div>
        <div class="footer-right">
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="#" class="footer-link fb-icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link tw-icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" class="footer-link fb-icon">
                        <i class="fab fa-google"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>