<header class="header site-header" id="js-header">
    <div class="l-container l-header">
        <div class="header-logo-pc">
            <a href="#" class="header-logo-link">
                <img src="./assets/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="header-logo-sp">
            <a href="" class="header-logo-link">
                <img src="./assets/images/logo-sp.png" alt="logo">
            </a>        
        </div>


        <div class="nav-button" href="#">
            <span></span>
            <span></span>
            <span></span>
        </div>


        <nav class="header-nav nav-wrap-sp js-active-not">
            <div class="header-nav-list-wrapper">
                <ul class="header-nav-list nav">
                    <li class="header-nav-list-item　js-active-not">
                        <a href="#sec0" class="header-nav-link header-hover js-scroll" id="nav0">Top</a>
                    </li>
                    <li class="header-nav-list-item　js-active-not">
                        <a href="#sec1" class="header-nav-link header-hover js-scroll"  id="nav1">Feature</a>
                    </li>
                    <li class="header-nav-list-item　js-active-not">
                        <a href="#sec2" class="header-nav-link header-hover js-scroll" id="nav2">Service</a>
                    </li>
                    <li class="header-nav-list-item　js-active-not">
                        <a href="#sec3" class="header-nav-link header-hover js-scroll" id="nav3">News</a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
</header>
    

