<div class="l-section">
    <div class="hero">
        <div class="hero-wrap">
            <div class="hero-wrap-text">
                <div class="hero-title-wrapper">
                    <h1 class="hero-title">Helloworld</h1>
                </div>
                <div class="hero-text-wrapper">
                    <p class="hero-text">-description text-</p>
                </div>
            </div>
            <div class="hero-arrow">
                <a href="#sec0" class="js-scroll hero-arrow-btn"></a>
            </div>
        </div>
    </div>
</div>
