<section class="l-section mail">
    <div class="l-container">
        <div class="mail-head">
            <h2 class="content-title">- Mail -</h2>
        </div>
        <form action="post">
            <div class="l-section-content mail-content">
               <div class="mail-left">
                   <input type="text" class="mail-field" placeholder="Name">
                   <input type="email" class="mail-field" placeholder="E-mail">
                   <div class="form-group">
                       <select name="" id="" class="form-control mail-field">
                           <option value="">Please select your topic</option>
                            <option value="">Topic1</option>
                            <option value="">Topic2</option>
                            <option value="">Topic3</option>
                            <option value="">Topic4</option>
                        </select>
                   </div>
               </div>  
               <div class="mail-right">
                    <textarea name="" id="" cols="40" rows="4" placeholder="Comments" class="mail-comment-field"></textarea>
                    <button class="mail-submit-btn">Submit</button>
               </div>   
            </div>
        </form>
    </div>
</section>