<section class="l-section news"  id="sec3">
    <div class="l-container news-container">
        <h2 class="content-title">
            - News -
        </h2>
    </div>
    <div class="l-section-content news-content">
        <article class="news-article-list">
            <a href="#" class="news-article-item">
                <div class="news-time">
                <time class="news-article-time">06.18</time>
                </div>
                <div class="news-wrap-item">
                    <div class="news-article-title-box">
                    <h3 class="news-article-title">News title</h3>
                    </div>
                    <p class="news-article-text">sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                       sample text sample text sample text sample text sample text sample text
                    </p>
                </div>
            </a>
        </article>
        <article class="news-article-list">
                <a href="#" class="news-article-item">
                    <div class="news-time">
                    <time class="news-article-time">06.17</time>
                    </div>
                    <div class="news-wrap-item">
                        <div class="news-article-title-box">
                        <h3 class="news-article-title">News title</h3>
                        </div>
                        <p class="news-article-text">sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                        </p>
                    </div>
                </a>
            </article>
            <article class="news-article-list">
                    <a href="#" class="news-article-item">
                        <div class="news-time">
                        <time class="news-article-time">06.16</time>
                        </div>
                        <div class="news-wrap-item">
                            <div class="news-article-title-box">
                            <h3 class="news-article-title">News title</h3>
                            </div>
                            <p class="news-article-text">sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                                sample text sample text sample text sample text sample text sample text
                            </p>
                        </div>
                    </a>
                </article>
    </div>
</section>