<section class="l-section service" id="sec2">
    <div class="l-container">
        <div class="service-head">
            <h2 class="content-title">- Service -</h2>
        </div>
        <div class="l-section-content service-content">
            <div class="service-left">
                <img src="./assets/images/service-img.jpg" alt="service-image" class="service-img">
            </div>
            <div class="service-right">
                <h3 class="service-sub-title">
                    2016 our results
                </h3>
                <p class="service-text">
                    sample text sample text sample text sample text<br>
                    sample text sample text sample text sample <br>
                    sample text sample text sample text
                </p>
                <p class="service-text">
                    sample text sample text sample text<br>
                    sample text sample text sample text sample text
                </p>

            </div>
        </div>
    </div>
</section>