<section class="l-section supporters">
    <div class="l-container">
        <div class="l-section-content supporters-content">
            <div class="l-wrap-supporters">
                <ul class="supporters-list">
                    <li class="supporters-item ibm">
                        <a href="#" class="supporters-link ibm-link">
                            <img src="./assets/images/logo-ibm.png" alt="ibm" class="supporters-image-ibm">
                        </a>
                    </li>
                    <li class="supporters-item">
                        <a href="#" class="supporters-link ibm-link">
                            <img src="./assets/images/logo-microsoft.png" alt="microsoft" class="supporters-image-microsoft">
                        </a>
                    </li>
                    <li class="supporters-item">
                        <a href="#" class="supporters-link ibm-link">
                            <img src="./assets/images/logo-twitter.png" alt="twitter" class="supporters-image-twitter">
                        </a>
                    </li>
                    <li class="supporters-item">
                        <a href="#" class="supporters-link ibm-link">
                            <img src="./assets/images/logo-facebook.png" alt="facebook" class="supporters-image-facebook">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>