<section class="l-section top" id="sec0">
    <div class="l-container content-wrapper " name="link">
        <div class="top-content-wrapper">
            <div class="content-left">
                <h2 class="content-catchcopy">
                    Catch copy text catch copy!!<br>
                    Catch copy text!
                </h2>
                <p class="content-text">
                    sample text sample text sample text sample text<br>
                    sample text sample text sample text sample <br>
                    sample text sample text sample text 
                </p>
                <p class="content-text">
                    sample text sample text sample text <br>
                    sample text sample text sample text sample text<br>
                </p>
            </div>
            <div class="content-right">
                <img src="./assets/images/phone-a.png" alt="phone-a" class="content-phone content-phone-a">
                <img src="./assets/images/phone-b.png" alt="phone-b" class="content-phone content-phone-b">
                <img src="./assets/images/phone-c.png" alt="phone-c" class="content-phone content-phone-c">
            </div>
        </div>
    </div>   
</section>   